<%= form_for(@task_run_set) do |f| %>
  <% if @task_run_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_run_set.errors.count, "error") %> prohibited this task_run_set from being saved:</h2>

      <ul>
      <% @task_run_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
