
<div class="fields">
  <!-- Iterate through fields here --> 
  <table>
  <% @entity.fields.each do |field,value|
      next if field =~ /_type|_id|created_at|updated_at|status/ %>
    <tr>
      <td><%= value.name %>:</td>
      <td><%= eval("@entity.#{value.name}")%></td>
    </tr>
  <% end %>
  </table>
  <!-- Done iterating through fields --> 
</div>