Count: <%= @entities.count%>

<table id='entities' class="display" data-source="<%= tapir_entities_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parents</th>
      <th>Children</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= link_to 'New Entity', new_tapir_entity_path %>
