<table>
  <tr>
    <th>Name</th>
  </tr>
<% @entities.each do |entity| %>
  <tr>
    <td><%= link_to entity, tapir_entities_path(entity.id) %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Entity', new_tapir_entity_path %>
