<h1>New entity</h1>

<%= form_tag "/tapir/entities" do %>
  <%= select_tag "type",options_from_collection_for_select(@entity_types, "to_s", "to_s") %>

  <%= submit_tag "Save" %>
<% end %>

<%= link_to 'Back', tapir_entities_path %>
