<div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>Welcome to Tapir!</h1>
            <p>Tapir is a fun and easy-to-use application for OSINT and Internet-scale reconnaissance. To get started, simply create an entity and run tasks on it. </p>
            <p><a href="/tapir/entities/new" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Entities</h2>
              <p>Tapir entities are real-world objects that we want to discover more information about. You can create an entity by clicking 'Get Started.'</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Tasks</h2>
              <p>Tapir tasks are the code that operate on the entities to create findings, new entities, or modify existing entities. Tasks are created by developers.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Reports</h2>
              <p>When you're ready to view the gathered information, take a look at the reports tab. Reports organize the data in a logical way.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      
      <footer>
        <p>&copy; Pentestify, LLC 2013</p>
      </footer>

    </div><!--/.fluid-container-->
