<div id="tasks">
  <table>
  <tr>
    <th>Objects</th>    
  </tr>
  <tr>
    <td>
      <ul>
        <% @objects.each do |o| %>
          <li><a href="<%=request.url%>../../<%=o.underscore%>s/<%=o.id%>"> <%=o.to_s%></a><br/></li>
        <% end %>
      </ul>
    <td>
  </tr>
</table>
</div>
