<ul>
  <li><a href="reports/list_all"> All Entities </a></li>
  <li><a href="reports/findings"> All Findings </a></li>
  <li><a href="reports/google_default"> Google Map </a></li>
  <li><a href="reports/peeping_tom"> Peeping Tom </a></li>
  <li><a href="reports/organization_report"> Organization Report </a></li>
<ul>
