<ul>
  <li><a href="reports/google_default"> Google Map </a></li>
  <li><a href="reports/list_all"> List All Entities</a></li>
  <li><a href="reports/organization_report"> Organization Report</a></li>
<ul>
